server {
    listen 9998;
    access_log /var/log/nginx/webinstaller_access.log;
    error_log /var/log/nginx/webinstaller_error.log;

    location / {
        include uwsgi_params;
        uwsgi_pass unix:/var/run/webinstaller.sock;
    }

    location /static {
        expires 30d;
        add_header Cache-Control private;
        alias /pitrix/lib/pitrix-webinstaller/client/static;
    }
}
